<!DOCTYPE html>
<html ng-app="app">

<head>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. /*/
        
        .ng-hide {
            display: none !important;
        }
    </style>
    <!-- DISABLE CACHE -->
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- mobile meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Joacă X Zero cu noi !</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <link rel="stylesheet" href="css/app.css" />

</head>

<body ng-controller="xzero as vm">
    <!-- brand menu etc -->
    <header class="navbar navbar-inverse">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa fa-lg fa-2x fa-flag-o"></i> &#187;  <strong>  X Zero </strong></a>
            <form class="form-inline pull-right" ng-if="!vm.userName">
                <div class="form-group">
                    <label class="label">Numele tău</label>
                    <input class="form-control" ng-model="vm.newUser" placeholder="Nume ..." autocomplete="off" />
                </div>
                <button type="submit" class="btn btn-primary" ng-if="vm.newUser && vm.newUser.length > 1" ng-click="vm.register()">
                        <i class="fa fa-lg fa-check-square-o"></i> Joacă
                </button>
            </form>
            <ul class="nav nav-pills pull-right" ng-if="vm.userName">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="" data-toggle="dropdown">joc nou <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- players list -->
                        <li><a href="" ng-repeat="item in vm.players" ng-if="item.name != vm.userName" ng-click="vm.newGame(item)"> {{item.name}} </a>                            </li>
                    </ul>
                    <li class="active"><a href="">{{vm.userName}}</a></li>
            </ul>
        </div>
    </header>

    <!-- content section -->
    <section ng-if="vm.userName">
        <!-- default game grid -->
        <div class="container-fluid">
            <article class="col-sm-7 col-md-9">
                <!-- grid 1 -->
                <div class="game-grid" ng-repeat="game in vm.games">
                    <div class="game-row">
                        <strong class="text-info"> {{game.oponentPlayer}} </strong>
                        <i class="fa fa-lg fa-fw fa-spin fa-spinner text-muted" ng-show="game.player.name === game.oponentPlayer"></i>
                        <i class="fa fa-lg fa-fw fa-check-circle-o text-success" ng-show="game.player.name === vm.userName"></i>
                    </div>
                    <div ng-repeat="row in game.rows track by $index" class="game-row">
                        <button ng-disabled="game.isDisabled()" ng-repeat="col in row track by $index" class="game-cell btn btn-{{col.color}}" ng-click="game.clickHandle(row, $index)">{{col.value}}</button>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- footer about / copyright etc. -->
    <footer></footer>

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="app.js"></script>
    <script src="game.js"></script>
</body>

</html>