div.game-cell{
    background-color: bisque;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: grid;
        
}
#game {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 50px;
    margin: 50px;
  } 




