body{
    font-family: "Times New Roman";
}


div.game-cell{
    background-color: orchid;
    width: 8rem;
    height: 8rem;
    margin: 0.2rem;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    cursor: pointer;
}

div.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 50px;
    margin: 50px;
}




 
