.game-container{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.game-cell{
    background: #088bcc;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 13, 13);
    cursor: pointer;
} 
